// font-family: 'Rubik-Regular';
// font-family: 'Rubik-Bold';
// font-family: 'Rubik-LightItalic';
// font-family: 'Rubik-Medium';
// font-family: 'Rubik-Light';
// font-family: 'Rubik-MediumItalic';
* {
	outline: none !important;
}
h4 {
    font-family: 'Rubik-Medium';
}
input {
	font-size: 13px !important;
	font-family: 'Rubik-Regular'

	:focus, :active {
		box-shadow: none;
	}
}

.input-group.with-icon {
	background: #f9f9f9;
	margin-top: 18px;
	position: relative;	
	border-top: 3px solid #efefef;
	border-left: 3px solid #efefef;
	margin-left: 3px;
	width: calc(100% - 3px);
	
	.input-group-addon {
		position: absolute;
		top: -50%;
		bottom: -50%;
		margin: auto;
		height: 80%;
		width: 40px;
	    z-index: 10;
	    background: transparent;
	}

	.form-control {
		margin-top: -4px;
		margin-left: -4px;
		background: transparent;
		padding-left: 40px;
		width: calc(100% + 3px);
		padding-top: 8px;
	}
}
.input-group.whit-info {
	.form-control {
		padding-right: 40px;
	}
}
span.input-group-addon.tooltip-addon {
	right: 0;
}


.line-link {
	cursor: pointer;
	position: relative;
    top: 1px;
	
	> span {
		border-bottom: 1px solid transparent;
	}

	&:hover {
		> span {
			border-color: $link-border-bottom-color;
		}
	}
}

/* BOOTSTRAP SELECT */
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
	color: #cdf1f8;
	font-family: 'Rubik-LightItalic';
}
.btn-group.open .dropdown-toggle {
	box-shadow: none;
}
.bs-searchbox .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(254, 254, 254, 0.4);
    box-shadow: none;
    color: #ffffff;
    
    &:focus {
    	box-shadow: none;
    }
}
.bootstrap-select.btn-group .no-results {
	background: transparent;
	color: #cdf1f8;
	font-family: 'Rubik-Italic';
	text-align: center;
}
/* BOOTSTRAP SELECT END */

.succsses {
	color: #69c93e !important;
}
a.btn {
	display: table-cell;
}
button.clear {
	background: transparent;
	border: none;
	outline: none;
	box-shadow: none;
}
.relative {
    display: inline-block;
    position: relative;
}
.left-column, .right-column {
	padding-top: 30px;	
}
.left-column {
	float: left;
	width: 840px;
}
.right-column {
	float: right;
	width: 301px;
}
// DROPDOWN_MENU_WHITE
.dropdown-menu.white {
	background: white;
	border: 1px solid #efefef;
	margin-top: -1px;
	
	li {
		padding-left: 15px;
		padding-right: 15px;
		
		.line {
			border-bottom: 1px solid #efefef;
			display: block;
			width: 100%;
			padding: 10px 0;
			color: #939393;
			
			a {
				color: #939393;
				&:hover {
					color: $link-color;
				}
			}
			a.red {
				color: #e04f5f;
				&:hover {
					color: $link-color;
				}
			}

		}

		&:last-child {
			.line {
				border-bottom: none;
			}
		}
	}
}
.gray-mini-description {
	color: #bababa;
	font-size: 13px;
	font-family: 'Rubik-Light';
	letter-spacing: -0.3px;
	margin-right: 10px;
}

.container {
    width:1230px !important;
}
.navbar-default .navbar-collapse {
	display: block !important;
}
body {
	min-width: 1230px;
}