// font-family: 'Rubik-Regular';
// font-family: 'Rubik-Bold';
// font-family: 'Rubik-LightItalic';
// font-family: 'Rubik-Medium';
// font-family: 'Rubik-Light';
// font-family: 'Rubik-MediumItalic';
* {
	outline: none !important;
}
h1, h2, h3, h4 {
    font-family: 'Rubik-Medium';
}
input {
	font-size: 13px !important;
	font-family: 'Rubik-Regular'

	:focus, :active {
		box-shadow: none;
	}
}

.input-group.with-icon {
	background: #f9f9f9;
	margin-top: 18px;
	position: relative;	
	border-top: 3px solid #efefef;
	border-left: 3px solid #efefef;
	margin-left: 3px;
	width: calc(100% - 3px);
	
	.input-group-addon {
		position: absolute;
		top: -50%;
		bottom: -50%;
		margin: auto;
		height: 80%;
		width: 40px;
	    z-index: 10;
	    background: transparent;
	}

	.form-control {
		margin-top: -4px;
		margin-left: -4px;
		background: transparent;
		padding-left: 40px;
		width: calc(100% + 3px);
		padding-top: 8px;
	}
}
.input-group.whit-info {
	.form-control {
		padding-right: 40px;
	}
}
span.input-group-addon.tooltip-addon {
	right: 0;
}


.line-link {
	cursor: pointer;
	position: relative;
    top: 1px;
	
	> span {
		border-bottom: 1px solid transparent;
	}

	&:hover {
		> span {
			border-color: $link-border-bottom-color;
			color: $link-color;
		}
	}
}

/* BOOTSTRAP SELECT */
.bootstrap-select>.dropdown-toggle.bs-placeholder, .bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
	color: #cdf1f8;
	font-family: 'Rubik-LightItalic';
}
.btn-group.open .dropdown-toggle {
	box-shadow: none;
}
.bs-searchbox .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(254, 254, 254, 0.4);
    box-shadow: none;
    color: #ffffff;
    
    &:focus {
    	box-shadow: none;
    }
}
.bootstrap-select.btn-group .no-results {
	background: transparent;
	color: #cdf1f8;
	font-family: 'Rubik-Italic';
	text-align: center;
}
/* BOOTSTRAP SELECT END */

.succsses {
	color: #69c93e !important;
}
a.btn {
	display: table-cell;
}
button.clear {
	background: transparent;
	border: none;
	outline: none;
	box-shadow: none;
}
.relative {
    display: inline-block;
    position: relative;
}
.left-column, .right-column {
	padding-top: 30px;	
}
.left-column {
	float: left;
	width: 840px;
}
.right-column {
	float: right;
	width: 301px;
}
// DROPDOWN_MENU_WHITE
.dropdown-menu.white {
	background: white;
	border: 1px solid #efefef;
	margin-top: -1px;
	
	li {
		padding-left: 15px;
		padding-right: 15px;
		
		.line {
			border-bottom: 1px solid #efefef;
			display: block;
			width: 100%;
			padding: 10px 0;
			color: #939393;
			
			a {
				color: #939393;
				&:hover {
					color: $link-color;
				}
			}
			a.red {
				color: #e04f5f;
				&:hover {
					color: $link-color;
				}
			}

		}

		&:last-child {
			.line {
				border-bottom: none;
			}
		}
	}
}
.gray-mini-description {
	color: #bababa;
	font-size: 13px;
	font-family: 'Rubik-Light';
	margin-right: 10px;
}
.link-gray {
	color: #939393;
}
.wrap {
	background: #fff;
	padding: 30px;
	margin-top: 30px;
}
.input-group {
	margin-bottom: 15px;
}
.mce-container {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
}
.mce-branding-powered-by {
	display: none !important;
}
// Bootstrap tag inputs
.bootstrap-tagsinput {
	width: 100%;
	border-radius: 0;
	box-shadow: none;
	
	&.focus {
		border-color: $gray-dark;
	}
		
	input {
	    width: auto !important;
	    padding: 0px;
        margin-left: 10px;
        padding: 4px 0;
	}
	.tag {
	    margin-right: 2px;
	    color: white;
	    height: 100%;
	    padding: 5px 7px;
	    border-radius: 0px;
	    font-size: 13px;
        margin-bottom: 2px;
        margin-top: 2px;
	    background: $default-color;
	    display: inline-block;
	    
	    [data-role="remove"] {
	    	color: #bee9f2;
	    }
	}
}
.tags-input {
	.ui-widget.ui-widget-content {
		width: 100% !important;
		left: 0 !important;
		right: 0 !important;
		margin-top: 5px;
	}
}
// Autocomplete
.ui-widget.ui-widget-content {
	background: $body-bg;
	border: none;
	
}
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
    border: none;
    background: #eaeaea;
    font-weight: normal;
    color: #4e4e4e;
    margin: 0px;
}
.ui-menu .ui-menu-item {
	padding-left: 10px;
}

// BOOTSTRAP SELECT
.bootstrap-select.form-control {
	button.btn {
	   	background-color: #fff;
	    background-image: none;
	    border: 1px solid #bebebe;
	    color: #4e4e4e;
	}

	> .dropdown-toggle.bs-placeholder {
		font-family: 'Rubik-Regular';
		color: #939393;
	}
    &.open > .btn-default.dropdown-toggle:focus,
    &.open > .btn-default.dropdown-toggle:hover {
    	background-color: #fff;
	    background-image: none;
	    border: 1px solid #bebebe;
	    color: #4e4e4e;
    }
    .dropdown-menu {
    	background: #ffffff;
        margin-left: -1px !important;
    	margin-top: 2px !important;
    	border: 1px solid $input-border;
    	border-top: none;
    
    	> li > a {
    		color: $gray-dark;
    		
    		&:hover, &:focus {
    			background: $default-color;
    			color: #ffffff;
    		}
    	}
    }
    .bs-searchbox .form-control {
    	border-bottom: 1px solid $input-border;
    	color: $gray-dark;
    }
    .no-results {
    	color: #939393;
    }
}

// ICheck
.icheckbox {
    width: 20px;
    height: 20px;
    border: 1px solid $input-border;
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
    display: inline-block;
    margin-right: 15px;
    float: left;
    
    ins {
    	background: url(../../images/icons/check_black.png) no-repeat center !important;
    	transition: all 0.1s;
    }

    &.hover {
    	border-color: $gray-dark;
    	
    	ins {
			opacity: 0.4 !important;
    	}
    }
    &.checked {
    	ins {
    		opacity: 1 !important;
    	}
    }
}

label {
	font-weight: normal;
	cursor: pointer;
	color: #939393;
	margin: 0px;
	transition: all 0.2s;
	
	&:hover {
		color: $gray-dark;
	}
}
.input-group.gray-label {
	.input-group-addon {
		@extend .link-gray;
		border: 1px solid $input-border;
	}
	.form-control {
		padding-left: 5px;
	}
	&.left {
		.form-control {
			border-left: none;
		}
		.input-group-addon.left {
			border-right: none;
			padding-right: 5px;
		}
	}
	&.right {
		.form-control {
			border-right: none;
		}
		.input-group-addon.right {
			border-left: none;
			padding-left: 5px;
		}
	}

	&.focus {
		.input-group-addon {
			border-color: $gray-dark;
		}
	}
}


.container {
    width:1230px !important;
}
.navbar-default .navbar-collapse {
	display: block !important;
}
body {
	min-width: 1230px;
}