// font-family: 'Rubik-Regular';
// font-family: 'Rubik-Bold';
// font-family: 'Rubik-LightItalic';
// font-family: 'Rubik-Medium';
// font-family: 'Rubik-Light';
// font-family: 'Rubik-MediumItalic';
.container {
    width:1230px !important;
}
.navbar-default .navbar-collapse {
	display: block !important;
}
body {
	min-width: 1230px;
}