.ui-widget.ui-widget-content {
	padding: 0px;
	background: #ffffff;
	border-radius: 0px;
	width: 266px;
	
	.ui-datepicker-header {
		background: $brand-success;
		color: #ffffff;
		border-radius: 0px;
		border: none;
		border-bottom: 1px solid #2AAE98;
	    font-family: 'Rubik-Medium';
		text-transform: uppercase;
		font-weight: normal;
		font-size: 12px;
		width: 266px;
		padding-top: 4px;
		padding-bottom: 4px;
	}
	.ui-datepicker-next {
		cursor: pointer;
		span {
			background: url(../../images/icons/arrow_calendar.png);
			color: #fff;
			cursor: pointer;
			width: 10px;
			height: 13px;
			margin-top: -5px;
			transform: rotate(180deg);
			opacity: 0.9;
		}
	}
	.ui-datepicker-prev {
		cursor: pointer;
		span {
			background: url(../../images/icons/arrow_calendar.png);
			color: #fff;
			cursor: pointer;
			width: 10px;
			height: 13px;
			margin-top: -5px;
			opacity: 0.9;
		    margin-left: -2px;
		}
	}
}
.ui-datepicker table {
	margin-bottom: 0px;
	thead {
		background: #2eb69f;
		color: #bcfef3;
	    font-size: 10px;
		margin-bottom: 2px;
	}
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: 1px solid #efefef;
    background: #efefef;
    font-weight: normal;
    color: #939393;
    text-align: center;
    padding: 10px;
    font-size: 12px;
}
// .ui-state-hover,
// .ui-state-highlight,
// .ui-widget-content .ui-state-highlight {
// 	background: $brand-primary;
// 	color: #ffffff;
// 	opacity: 0.6;
// }
.ui-widget-content .ui-state-hover {
	background: #32bea6;
	color: #fff;
}
.ui-state-active {
	background: #32bea6 !important;
	color: #fff !important;
	opacity: 1 !important;
}


.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
	border: none;
	top: 2px;
	opacity: 1;
}
.datetimepicker {
	background: #ffffff;
	padding: 0px;

	table {
		max-width: 266px;
		min-width: 266px;
		thead {
			background: $brand-success;
			
			
			.switch {
				text-align: center;
			}
			tr:first-child {
				th{
					background: $brand-success;
					color: #ffffff;
					border-radius: 0px;
					border: none;
					border-bottom: 1px solid #2AAE98;
				    font-family: 'Rubik-Medium';
					text-transform: uppercase;
					font-weight: normal;
					font-size: 12px;
					padding-top: 8px;
					padding-bottom: 8px;
					text-align: center;
				}
			}
			tr:nth-child(2){
				background: #2eb69f;
				color: #bcfef3;
			    font-size: 10px;
			    th{
					text-align: center;
			    }
			}

		}
		td {
			border: 2px solid #efefef;
		    background: #efefef;
		    font-weight: normal;
		    color: #939393;
		    text-align: center;
		    font-size: 12px;
			padding: 10px !important;
			border-color: white;
		    
		    &:hover, &.active {
				background: $brand-success;
				color: white;
				cursor: pointer;
		    }

		    span.minute, span.hour {
				display: inline-block;
				border: 1px solid #efefef;
			    background: #efefef;
			    font-weight: normal;
			    color: #939393;
			    text-align: center;
			    padding: 10px;
			    font-size: 12px;
			    margin: 2px;
				width: 23.49%;
				float: left;
				
				&:hover {
					background: $brand-success;
					color: white;
					cursor: pointer;
					border-color: $brand-success;
				}
			}
		}
	}
	.datetimepicker-minutes, .datetimepicker-hours {
		table {
			td, td:hover {
				background: white;
				color: white;
				cursor: pointer;
				padding: 0px !important;
			}
		}
	}
	.day.old,
	.day.new {
		opacity: 0.5;
	}
}