.dictionary-wrapper {
	padding: 30px;
	background: #ffffff;
	margin-top: 30px;
	
	.search-line {
		margin-top: 10px;
		margin-bottom: 30px;
		width: 100%;
	}

	.item {
		margin-left: 55px;
		margin-bottom: 20px;
		display: inline-block;
	}
	.row:last-child .list{
		margin-bottom: 0px;
	}

	.item-title {
		color: $brand-success;
		font-family: 'Rubik-Medium';
		font-size: 14px;
		margin-bottom: 10px;
		display: inline-block;
		
		&:hover{
			text-decoration: underline;
		}
	}

	.item-text {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	.main-label {
		display: inline-block;
		width: 42px;
		height: 42px;
		background: $brand-success;
		color: #ffffff;
		text-align: center;
		font-size: 16px;
		text-transform: uppercase;
		font-family: 'Rubik-Medium';
		position: absolute;
		left: 15px;
		top: 3px;
	    padding: 10px 0;
	    
	    &.gray {
    	    text-transform: lowercase;
    	    background: transparent;
    	    color: #bababa;
			font-family: 'Rubik-Regular';
			font-size: 14px;
		    padding: 0px;
			top: 0px;
			height: auto;
			
	    	&:first-letter {
	    		text-transform: uppercase;
	    	}
	    }
	}
}
.add-new-dictionary {
	width:100%;
	margin-top: 30px;
	padding: 10px 20px;
	margin-bottom: 30px;
	display: block;
}