// ICONS
.user-icon {
	width: 10px;
	height: 13px;
	display: inline-block;
	position: relative;
	z-index: 1;
	background: url(../../images/icons/auth-sprite.png) no-repeat left top;
}
.pass-icon {
	width: 8px;
	height: 10px;
	display: inline-block;
	position: relative;
	z-index: 1;
	background: url(../../images/icons/auth-sprite.png) no-repeat left bottom;
}
.mail-icon {
	width: 10px;
	height: 7px;
	display: inline-block;
	position: relative;
	z-index: 1;
	background: url(../../images/icons/auth-sprite.png) no-repeat left -14px;
	margin-top: 2px;
}
.info-icon-tooltip{
	width: 13px;
	height: 13px;
	display: inline-block;
	position: relative;
	z-index: 1;
	background: url(../../images/icons/validate-info-sprite.png) no-repeat left top;
	cursror: pointer;
	
	&:active, &:hover {
		background-position: right top;
	}
}

#types li {
	.glyphicon.glyphicon-ok {
		font-family: 'science' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
				
		display: inline-block;
	    margin-right: 5px;
		
		&::before {
			content: '\e900';
		}
	}
	&.selected {
		.glyphicon.glyphicon-ok { 
			&::before {
				content: '\e901';
			}
		}
	}
}
.bootstrap-select.btn-group .dropdown-menu li{
	li{
		.glyphicon.glyphicon-ok {
			font-family: 'science' !important;
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			
			&::before {
				content: '\e900';
			}			
		}

		&.selected {
			&::before {
				content: '\e901';
			}	
		}
	}
}
.icon-favorite {
	width: 21px;
	height: 19px;
	background: url(../../images/icons/favorite.png) no-repeat center top;
	display: inline-block;
	cursor: pointer;
	
	&:hover{
		background-position: center -20px;
	}
}
.icon-favorite.active {
	background-position: center bottom;
	
	&:hover {
		background-position: center bottom;
	}
}
.icon-view {
	width: 13px;
	height: 7px;
	display: inline-block;
	background: url(../../images/icons/posts-statistic.png) no-repeat left bottom;
	margin-right: 10px;
}
.icon-comment {
	width: 11px;
	height: 11px;
	display: inline-block;
	background: url(../../images/icons/posts-statistic.png) no-repeat left top;
	margin-right: 10px;
}
i.dropdown-arrow {
	width: 8px;
	height: 4px;
	position: relative;
	display: inline-block;
	background: url(../../images/icons/dropdown_arrow.png) no-repeat;
}
i.clock {
	width: 12px;
	height: 12px;
	position: relative;
	display: inline-block;
	background: url(../../images/icons/clock.png) no-repeat;
}
.icon-add-block {
	width: 39px;
	height: 39px;
	background: url(../../images/icons/add_block.png) no-repeat left top;
	display: inline-block;
	cursor: pointer;
	
	&:hover {
		background: url(../../images/icons/add_block.png) no-repeat right top;
	}
}
button > i.icon-plus {
	margin-right: 10px;
	position: relative;
	top: 1px;
}