strong {
	font-family: 'Rubik-Medium' !important;
	font-weight: normal !important;
}

// .post-full-wrapper .post-wrapper {
// 	margin-top: 0px;
// }

.post-wrapper {
	.post {
		.icon-favorite {
			float: left;
			display: inline-block;
			margin-top: 4px;
			margin-right: 10px;
		}
		.post-header .post-title {
			margin-bottom: 0px;
		}
		.post-body {
			margin-top: 20px;
	
			.post-banner {
				img {
					width: 100%;
				}
			}

		}
		.post-footer {
			margin-top: 15px;
			 
			.hubs {
				span {
					font-size: 13px;	
				}
				.line-title {
					color: $brand-success;
					font-size: 13px;
					margin-right: 20px;
				    font-family: 'Rubik-Medium';
				}
				a {
					&:hover, &:hover > span {
						color: #939393 !important;
					}
				}
			}
			.tags {
				margin-top: 15px;
				
				a {
					font-size: 13px;
					font-family: 'Rubik-Regular';
					margin-right: 10px;
					
					&:hover {
						color: $link-color;
					}
				}
			}
		}
	}
}
.post-text {
	margin-top: 15px;

	p {
		@extend .clearfix;
		padding-bottom: 15px;
		line-height: 21px;
		margin-bottom: 0px;
	}

	h2, h3, h4 {
	    font-family: 'Rubik-Medium' !important;
		font-weight: normal !important;
	}
	
	a, a[data-mce-selected]{
		color: #25b6d2;
		text-decoration: none;
	}

	p, span, a, ul, ol, li, div, table, tr, td {
		font-family: 'Rubik-Regular';
		font-weight: normal !important;
	}
	span, a, ul, ol, li, div, table, tr, td {
		line-height: 1.1;
	}

	

	h2 {
		font-size: 20px;
		margin-top: 15px;
		margin-bottom: 15px;
		clear: both;
		display: inline-block;			
		@extend .clearfix;
	}
	h4, h3 {
		font-size: 15px;
		margin: 15px 0;
	}

	h4 {
		color: $gray-dark;
	}

	h3 {
		color: $brand-success;
	}

	a {
		border-bottom: 1px solid transparent;

		&:hover {
			border-color: $link-border-bottom-color;
		}
	}
	ul, ol {
		margin-top: -9px;
		margin-bottom: 15px;
		display: inline-block;
		min-width: 49%;
	    margin-right: 0.7%;
		padding-left: 0px;
	    
	    > li {
	    	padding: 9px 0;				    	
	    	list-style: none;
	    	
	    	&:last-child {
	    		padding-bottom: 0px;
	    	}
	    	
	    	&::before { 
	    		color: $brand-success;
				margin-right: 10px;
				line-height: 0px;
				display: inline-block;
	    	}
	    }
	}
	ul {
		> li {
			&::before {
	    		content: '•';
			    top: 4px;
				font-size: 24px;
			    position: relative;
	    	}
		}
	}
	ol {
		counter-reset: myCounter;

		li:before {
			counter-increment: myCounter;
			content:counter(myCounter);
			font-size: 14px;
		}
	}
	img {
		max-width: 100%;
	}
}
.fileUpload-post {
	position: relative;
    margin-left: 45px;
    
	&::before {
	    content: url(../../images/icons/pdf.png);
	    margin-right: 10px;
	    position: absolute;
	    top: 1px;
	    right: 100%;
	}
}