.post-wrapper {
	margin-top: 30px;
}
.more-wrapper {
	position: relative;
	top: -10px;
	right: -10px;
	
	button.more {
		width: 46px;
		height: 24px;
		border: 1px solid #ffffff;
		background: url(../../images/icons/more.png) no-repeat 9px 8px;
		
		&:hover {
			border-color: #efefef;
			background-position: -34px 8px;
		}
	}
}
.more-wrapper.open {
	button.more {
		border-color: #efefef;
		background-position: -34px 8px;
	}
}
.post {
	padding: 30px;
	background: #ffffff;
	border-bottom: 1px solid #efefef;
	
	.post-header {

		.post-title {
			margin-top: 6px;
			margin-bottom: 6px;
			
			h1, h2 {
				font-family: 'Rubik-Medium';
				color: #4e4e4e;
				line-height: 29px;
				font-size: 23px;
				margin: 0px;
				max-width: 80%;
			}
			.post-label {
				font-size: 7px;
				color: #ffffff;
				background: #c243a0;
				position: relative;
				padding: 3px 7px 3px;
				line-height: 7px;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: 1px;
				top: -10px;
				font-family: 'Rubik-Light';
				left: 10px;
				display: inline-block;
				
				&::before, &::after {
					content: '';
					position: absolute;
					right: -10px;
				}
				&::before {
					border: 6px solid transparent;
					border-bottom: 6px solid #C243A0;
					border-left: 6px solid #c243a0;
					bottom: 0px;
				}
				&::after {
					border: 6px solid transparent;
					border-top: 6px solid #C243A0;
					border-left: 6px solid #c243a0;
					top: 0px;
				}
			}
			a:hover {
				h2 {
					text-decoration: underline;
				}
				.post-label {
					text-decoration: none;
				}
			}
		}
		.post-authtor {
			margin-top: 6px;
			
			.post-authtor-photo {
				height: 30px;
				width: 30px;
				display: inline-block;
				overflow: hidden;
				position: relative;
				margin-bottom: -11px;
				margin-right: 7px;
				border-radius: 50%;
				border: 1px solid #dedede;
				background: white;
			}
			.post-authtor-name,
			.post-institute-name {
				margin-right: 10px;
				font-family: 'Rubik-Light';
			}
			.post-for {
				font-family: 'Rubik-Light';
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				width: 418px;
				display: inline-block;
				position: relative;
				top: 5px;
			}
		}
	}

	.post-body {
		margin-top: 20px;
		
		.post-banner {
			img {
				width: 100%;
			}
		}
		.post-text {
			margin-top: 15px;
			
			p {
				margin-bottom: 15px;
				line-height: 21px;
			}
		}
	}

	.post-footer {
		.read-more.btn {
			padding: 6px 16px;
		}
		.icon-favorite {
			margin-left: 20px;
		}
		.wrapper-statistic {
			span {
				padding: 15px;
				border: 1px solid #efefef;
				border-right: none;
				height: 38px;
				display: inline-block;
				line-height: 6px;
				font-size: 13px;
				color: #939393;
				font-family: 'Rubik-Light';
				
				&:last-child {
					border-right: 1px solid #efefef;
				}

				.icon-comment {
					position: relative;
					margin-bottom: -4px;
					top: -2px;
				}
			}
		}
		.hubs {
			margin-top: 15px;
			
			a {
				color: #939393;
				font-family: 'Rubik-Light';
			}

			.line-link {
				> span {
					border-color: #dedede;
				}
			}

			> span {
				color: #939393;
				margin-right: 3px;
			}
		}
	}
}
// POST Page
.post-full-wrapper {
    margin-top: 30px;
    
    .post-information {
		max-width: 65%;
		float: left;
   	
		.post-authtor-photo,
		.post-institute-photo {
			width: 42px;
			height: 42px;
			overflow: hidden;
			border-radius: 50%;
			position: relative;
			display: inline-block;
			float: left;
			margin-right: 15px;
			text-align: center;
			border: 1px solid #dedede;
			background: white;
			
			img {
				width: 100%;
			}
		}
		.post-institute-photo {
			border-radius: 0px;
		}
    }
    .column-information-post {
    	min-height: 42px;
    	float: left;
	    width: calc(100% - 57px);
    	
    	.post-authtor-name,
    	.post-institute-name {
    		color: $gray-dark;
    		font-size: 16px;
    		font-family: 'Rubik-Medium';
    		margin-bottom: 10px;
   		    margin-top: -5px;
    		
    		a {
	    		color: $gray-dark;
    		}

    		&:hover {
    			a {
    				text-decoration: underline;
    			}
    		}
    	}
    	.post-for {
    		font-size: 13px;
			position: relative;
			top: -1px;
    	}

    	&.only-name {
    		.post-authtor-name,
    		.post-institute-name {
    			margin-top: 8px;
    		}
    	}
    }

    .post-wrapper {
    	margin-top: 0px;
    	
    	.post {
    		.icon-favorite {
				float: left;
				display: inline-block;
				margin-top: 4px;
				margin-right: 10px;
			}
			.post-header .post-title {
				margin-bottom: 0px;
			}
			.post-body {
				.post-text {
					p{
						@extend .clearfix;
					}
					h2, h3 {
						font-size: 20px;
						margin-top: 15px;
						margin-bottom: 15px;
						clear: both;
						display: inline-block;			
						@extend .clearfix;
					}
					h4 {
						font-size: 14px;
			    		color: $brand-success;
			    		margin: 15px 0;
			    		@extend .clearfix;
					}
					a {
						border-bottom: 1px solid transparent;

						&:hover {
							border-color: $link-border-bottom-color;
						}
					}
					ul, ol {
						margin-top: 15px;
						margin-bottom: 15px;
						display: inline-block;
						min-width: 49%;
					    margin-right: 0.7%;
						padding-left: 0px;
					    
					    > li {
					    	padding: 9px 0;				    	
					    	list-style: none;
					    	
					    	&:last-child {
					    		padding-bottom: 0px;
					    	}
					    	
					    	&::before { 
					    		color: $brand-success;
								margin-right: 15px;
								line-height: 0px;
								display: inline-block;
					    	}
					    }
					}
					ul {
						> li {
							&::before {
					    		content: '•';
								font-size: 18px;
					    	}
						}
					}
					ol {
						counter-reset: myCounter;

						li:before {
							counter-increment: myCounter;
							content:counter(myCounter);
							font-size: 10px;
						}
					}
					img {
						margin-bottom: 15px;
						max-width: 100%;
					}
				}
			}
			.post-footer {
				margin-top: 15px;
				
				.hubs {
					span {
						font-size: 13px;	
					}
					.line-title {
						color: $brand-success;
						font-size: 13px;
						margin-right: 20px;
					}
					a {
						&:hover, &:hover > span {
							color: #939393 !important;
						}
					}
				}
				.tags {
					margin-top: 15px;
					
					a {
						font-size: 13px;
						font-family: 'Rubik-Light';
						margin-right: 10px;
						
						&:hover {
							color: $link-color;
						}
					}
				}
			}
    	}
    }
}
.post-action-button.pull-right {
	.btn {
		margin-left: 20px;
	}
}
.contacts-widget {
	.contacts-tel,
	.contacts-mail,
	.contacts-time,
	a {
		color: #bababa;
		display: block;
	}
	.contacts-tel,
	.contacts-mail,
	.contacts-time {
		padding-left: 30px;
		margin-top: 30px;
		position: relative;
		
		i {
			margin-left: -30px;
			position: absolute;
		}
	}
	.contacts-tel,
	.contacts-time {
		i{
			font-size: 16px;
			margin-top: 3px;
		}
		a {
			margin-bottom: 1px;
		}
		p {
			margin: 0px;
		}
	}
	.contacts-mail {
		i{
			font-size: 12px;
			margin-top: 2px;
		}
	}
}
.new-post-top-section {
	.input-group {
		width: 100%;
		
		input, textarea{
			width: 100%;
		}

		input.title-input { 
			font-family: 'Rubik-Medium';
		}
	}

	.title {
		font-family: 'Rubik-Medium';
		margin: 0px;
		padding: 0px;
		font-size: 23px;
		margin-bottom: 30px;
	}
	.inputs-title {
		font-family: 'Rubik-Medium';
		margin: 0px;
		padding: 0px;
		font-size: 16px;
		margin-bottom: 15px;
	}

	.add-block {
		cursor: pointer;
		position: relative;
		padding-left: 54px;
		margin-top: 10px;
		display: inline-block;
		
			.icon-add-block {
				position: absolute;
				top: -50%;
				bottom: -50%;
				margin: auto;
				left: 0;	
			}

		&:hover{
			color: $gray-dark;

			.icon-add-block {
				@extend .icon-add-block:hover;
			}
		}

	}
}
#literature-input,
#authors-mail-input,
#authors-input,
#organizers-input {
	.bootstrap-tagsinput {
		input[type="text"] {
			width: 100% !important;
		}
		.tag {
			display: block;
			clear: both;
			float: left;
		}
	}
}
#authors-input, #organizers-input {
	.bootstrap-tagsinput {
	    min-height: 75px;
	}
}
button.addpost {
	width: 100%;
	height: 60px;
    margin-top: 30px;
    font-size: 15px;
}
#map {
	height: 110px;
}
section.section-hide {
    display: none;
}
.publication-form {
	margin-bottom: 60px;
}
.desript_add-post {
	margin-top: 30px;
	border: 1px solid #e5e5e5;
	background: #efefef;
	padding: 30px;
	
	h4 {
		margin-bottom: 20px;
		margin-top: 0px;
		font-size: 16px;
	}

	p {
		font-size: 12px;
		color: #939393;
	}
}