.slide-hide-wrapper {
	border-top: 1px solid #efefef;
	padding: 30px;
	margin: -30px;
	margin-top: 30px;
}

.slide-top.pull-right {
	.toggle-slide {
		cursor: pointer;
		color: #4e4e4e;
	}
}

[data-toggle="collapse"] {
	cursor: pointer;
	
	&.title {
		margin-bottom: 0px;
	}
	
	&.collapsed {
		.fa.fa-angle-up {
			&::before {
				content: "\f107";
			}
		}
	}
}