.widgets-panel {
	padding-bottom: 15px;
	margin-top: -15px;
    clear: both;

	section {
		background: #ffffff;
		padding: 30px;
		margin-top: 15px;
		margin-bottom: 15px;
		
		> h2, > h3, > h4, > h1, .widget-title {
			margin-top: 0px;
			margin-bottom: 0px;
			font-size: 16px;
			font-family: 'Rubik-Medium';
		}

		.item, .widget-content, .widget-more {
			margin-top: 30px;
		}

		.widget-image {
			margin-bottom: 15px;
			display: block;
		}

		.widget-description {
			font-family: 'Rubik-Medium';
			color: $gray-dark;
			
			&:hover {
				text-decoration: underline;
			}
		}

		.widget-more {
			margin-bottom: -5px;
			display: block;
		}

	}
}
.news-widget {
	.news-item {
		margin-top: 30px;
	}
	.news-image-wrapper {
		float: left;
		width: 51px;
		height: 51px;
		overflow: hidden;
		margin-right: 15px;
		display: block;
		img {
			width: 100%;
		}
	}
	.news-content {
		float: left;
		width: 175px;
		
		.news-date {
			margin-top: -5px;
		}
		.news-title {
			font-family: 'Rubik-Medium';
			font-size: 15px;
			color: #4e4e4e;
			position: relative;
			overflow: hidden;
			
			a {
				color: #4e4e4e;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.news-more {
		margin-top: 30px;
	    margin-bottom: -5px;
		display: block;
		font-size: 14px;
	}
}
section.news-single {
	margin-top: 15px;
	margin-bottom: 15px;
	background: #ffffff;
	padding: 30px;
	
	.news-banner {
		margin-top: -30px;
		margin-left: -30px;
		margin-right: -30px;
		width: calc(100% + 60px);
		position: relative;
		overflow: hidden;
		max-height: 133px;
		margin-bottom: 15px;
		display: block;
		
		img {
			min-width: 100%;
		}
	}

	.news-title {
		color: $brand-success;
		text-transform: uppercase;
		font-family: 'Rubik-Bold';
		font-size: 10px;
		letter-spacing: 1px;
		font-weight: normal;
		margin-top: 15px;
	}
	.news-description {
		margin-top: 15px;
		font-family: 'Rubik-Medium';
		color: #4e4e4e;
		display: block;
		
		&:hover {
			text-decoration: underline;
		}
	}
}

section {
	.item-wrapp {
		float: left;
		width: 51px;
		height: 51px;
		overflow: hidden;
		margin-right: 15px;
		text-align: center;
		img {
			width: 100%;
		}
	}
	.item-content {
		float: left;
		width: 175px;
		
		.item-title {
			font-family: 'Rubik-Medium';
			font-size: 15px;
			color: #4e4e4e;
			position: relative;
			overflow: hidden;
			
			a {
				color: #4e4e4e;
			}
			&:hover {
				text-decoration: underline;
			}
		}
		.event-date {
			color: $brand-success;
			font-family: 'Rubik-Medium';
			margin-bottom: 10px;
		}
		.event-title{
			font-family: 'Rubik-Regular';
			font-size: 14px;	
			a {
				color: #4e4e4e;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.events-calendar {
		margin-top: 30px;
		margin-left: -30px;
		margin-right: -30px;
		margin-bottom: -35px;
	}
	.events-more {
		margin-top: 30px;
		display: block;
	}
}

div.zabuto_calendar {
    margin: 0;
    padding: 0;

	.table{
		width: 100%;
		margin: 0;
		padding: 0;
		
		tr {
			th, td {
			    background-color: #ffffff;
			}
			td.dow-clickable, 
			td.event-clickable {
			    cursor: pointer;
			}

			&.calendar-dow-header {
				th{
					background: #2eb69f;
					color: #bcfef3;
					font-family: 'Rubik-Regular';
					font-size: 10px;
					font-weight: normal;
				}	
			}
			&.calendar-month-header {
				th{		
					color: #ffffff;
					background: $brand-success;
					font-family: 'Rubik-Medium';
					text-transform: uppercase;
				    font-weight: normal;
				    font-size: 12px;
				    border-bottom: 1px solid #2aae98;
				    height: 32px;
					vertical-align: middle;
				}
			}
		}
		th {
		    padding: 4px 2px;
		    text-align: center;
		}
		td {
			text-align: center;
			padding: 1px;

			div.day {
			    margin: 0;
			    padding-top: 10px;
			    padding-bottom: 10px;
		        background: #efefef;
		        color: #939393;
		        font-size: 12px;
			}
		}
	}
	tr.calendar-dow-header, 
	tr.calendar-dow {
		th, td {
	    	width: 14%;
	    }
	}
	.badge-event {
	    font-size: 0.95em;
	    padding-left: 8px;
	    padding-right: 8px;
	    padding-bottom: 4px;
	}
	.badge-event, div.legend span.badge-event {
		background: $brand-success;
		margin-top: -12px;
		margin-bottom: -12px;
		display: block;
		padding-top: 12px;
		padding-bottom: 14px;
		border-radius: 0;
	}
	.calendar-month-navigation {
		cursor: pointer;
	}
}

section.banner-widget {
	padding: 0px;
	
	img {
		max-width: 100%;
	}
}

section.statistic {
	p {
		display: block;
		clear: both;
		float: left;
		width: 100%;
		
		span.name {
			width: 160px;
			margin-right: 20px;
			display: inline-block;
			float: left;
		}

		span.value {
			text-align: right;
			color: $brand-success;
			font-family: 'Rubik-Medium';
			width: calc(100% - 180px);
			display: inline-block;
			float: right;
		}
	}
}