// FILTERS LITERATURE 
.filres-literature-wrapper
	.row
		.col-md-5
			.input-group
				input.form-control(type="text", name="search-book", placeholder="Поиск книги или автора")
		.col-md-4.no-padding
			select.form-control.selectpicker(title="Выберите науку")
				option(value="1")  Физика
				option(value="2")  Ботаника
		.col-md-3
			select.form-control.selectpicker(title="Выберите тип")
				option(value="1")  1
				option(value="2")  2
// *FILTERS LITERATURE END* 
