// Literature list wrapper
-for (var i = 0; i < 6; i++) {
section.item-literature
	a.photo-literature
		img(src="images/test-content/book.jpg", alt="")
	
	.literature-information
		a(href="#").title-literature
			h4 Кроличья нора или Что мы знаем о себе и Вселенной (новое оформление)
		.authors-literature
			a.line-link(href="#")
				span Вовченко А.И., 
			a.line-link(href="#")
				span Шамко В.В., 
			a.line-link(href="#")
				span Петриченко В.Н.
		a.descript-literature.line-link.link-gray
			span Научные основы ЭГЭ и использование его в машиностроении и металлообработке
		.bottom-line-literature
			span.country г. Николаев, Украина
			span.year 1973 год
			span.pages ст. 23-26
			span.issn xxxxx-xxx
	.clearfix
-}
// *Literature list wrapper END*