// POST ITEM
.post-wrapper.container-fluid
	.post
		.row.post-header
			.post-time-published.col-md-10 
				span.gray-mini-description Сегодня, 29 апреля 2017 в 18:30
			.post-menu.col-md-2.pull-right
				.more-wrapper
					button.clear.more.pull-right.dropdown-toggle(data-toggle="dropdown")
					.clearfix
					ul.dropdown-menu.white.pull-right
						li
							span.line
								a(href="#") Редактировать
						li
							span.line
								a.red(href="#") Удалить
			.post-title.col-md-12
				h2 Окраска ящериц оказалась клеточным автоматом фон Неймана
					span.post-label Статья
			.post-authtor.col-md-12
				span.gray-mini-description Опубликовал
				span.post-authtor-photo
					a(href="#")
						img(src="images/test-content/profile-photo.png", alt="user-name")
				span.post-authtor-name
					a.line-link(href="#")
						span Малахов В.О.
				span.gray-mini-description для
				span.post-for
					a.line-link(href="#")
						span Институт информационніх технологий им. А. Васильковского
		.row.post-body
			.post-banner.col-md-12
				img(src="images/test-content/post-banner.jpg", alt="")
			.col-md-12
				.post-text
					p.
						Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных процессов к дискретным. Узор молодых глазчатых ящериц описывается системой уравнений Тьюринга, в то время как лабиринтообразная окраска взрослых особей строится по принципу дискретной модели клеточного автомата фон Неймана — чешуйки меняют цвет в зависимости от их окружения.
		.row.post-footer
			.col-md-6
				span
					a.btn.btn-default.read-more(href="#") Читать дальше
				a.icon-favorite(data-toggle="tooltip", data-original-title="Добавить в избранное", data-replace-text="Убрать из избранного", onclick='')
			.col-md-6
				.wrapper-statistic.pull-right
					span
						i.icon-view
						|12k
					span
						i.icon-comment
						|45
			.col-md-12
				.hubs
					a.line-link(href="#")
						span Химия
					span ,
					a.line-link(href="#")
						span Биология
					span ,
					a.line-link(href="#")
						span Химия
					span ,
					a.line-link(href="#")
						span Математика