// NewS Section
section.news-widget
	h2 Свежие новости
	// NEWS ITEM
	.news-item.clearfix
		.news-image-wrapper
			img(src="images/test-content/news.jpg", alt="")
		.news-content
			.news-date.gray-mini-description Сегодня, 30 апреля 2017
			.news-title
				a(href="#") ВКонтакте совместно с Роскосмосом сняли сериал
	// NEWS ITEM
	.news-item.clearfix
		.news-image-wrapper
			img(src="images/test-content/news.jpg", alt="")
		.news-content
			.news-date.gray-mini-description Сегодня, 30 апреля 2017
			.news-title
				a(href="#") Столкновение сверхсильных магнитов на скорости более 300 километров в час
	// NEWS ITEM
	.news-item.clearfix
		.news-image-wrapper
			img(src="images/test-content/news.jpg", alt="")
		.news-content
			.news-date.gray-mini-description Сегодня, 30 апреля 2017
			.news-title
				a(href="#") Вид виниловой пластинки под электронным микроскопом
			.clearfix
	// NEWS ITEM
	.news-item.clearfix
		.news-image-wrapper
			img(src="images/test-content/news.jpg", alt="")
		.news-content
			.news-date.gray-mini-description Сегодня, 30 апреля 2017
			.news-title
				a(href="#") Лягушачья слизь оказалась убийственной для гриппа
	// NEWS ITEM
	.news-item.clearfix
		.news-image-wrapper
			img(src="images/test-content/news.jpg", alt="")
		.news-content
			.news-date.gray-mini-description Сегодня, 30 апреля 2017
			.news-title
				a(href="#") NASA впервые начало трансляцию запуска ракеты в 360°

	// MORE
	a.news-more.line-link(href="#")
		span Читать все новости
.clearfix
// *NewS Section END* 