.institute-banner {
	margin-top: 30px;
}
/* INSTITUTE PAGE */
.page-institute-photo {
	width: 100px;
	float: left;
	margin-right: 15px;

	img {
		max-width: 100%;
	}
}
.column-information-institute {
	min-height: 42px;
	float: left;
	width: calc(100% - 115px);
	
	.information-institute-name {
		color: $gray-dark;
		font-size: 23px;
		font-family: 'Rubik-Medium';
		margin-bottom: 10px;
		    margin-top: -5px;
		
		a {
    		color: $gray-dark;
		}

		&:hover {
			a {
				text-decoration: underline;
			}
		}
	}

	.adress {
		.line-link {
			> span {
			    border-color: #bde9f1;
			}
		}
	}
}
.institute-contacts-section {
	background: #ffffff;
	margin-bottom: 30px;
    max-height: 288px;
    position: relative;
    overflow: hidden;
	
	.title {
		color: #4e4e4e;
		font-size: 16px;
		font-family: 'Rubik-Medium';
	    margin-bottom: 10px !important;
	}

	.banner-institute {
		float: right;
		max-width: 540px;
		height: 288px;
		
		img {
			height: 100%;
		}
	}
	.contacts-all {
		max-width: 300px;
		display: inline-block;
		padding: 30px;
		padding-right: 0px;
		padding-top: 10px;
		
		.contacts-tel,
		.contacts-mail,
		.contacts-time,
		a {
			color: #bababa;
			display: block;
			font-family: 'Rubik-Regular';
		}
		.contacts-tel,
		.contacts-mail,
		.contacts-time {
			margin-top: 20px;
			position: relative;
			
			i {
				margin-left: -30px;
				position: absolute;
			}
		}
		.contacts-tel,
		.contacts-time {
			i{
				font-size: 16px;
				margin-top: 3px;
			}
			a {
				margin-bottom: 1px;
			    line-height: 18px;
			}
			p {
				margin: 0px;
			    line-height: 18px;
			}
		}
		.contacts-mail {
			i{
				font-size: 12px;
				margin-top: 2px;
			}
		}

	}
}
.institute-menu-tabs,
.users-menu-tabs {
	margin-top: 30px;
	
	ul {
		margin-bottom: 0px;
		margin-left: 0px;
		height: 39px;
		overflow: hidden;
		
		li {
			padding-left: 0px;
			position: relative;
			
			 a {
				padding: 10px 20px;
				height: 39px;
				background: #e8e8e8;
			    display: block;
			    font-size: 13px;
			    color: #939393;
			    cursor: pointer;
			}
			&.active {
				span {
					color: $brand-success;
					background: #fff;
					display: block;
					padding: 10px 20px;
					height: 39px;
				}
			}

			.count {
				position: absolute;
				width: 19px;
				height: 18px;
				border-radius: 50%;
				background: #e04f5f;
				color: #ffffff;
				font-size: 9px;
				text-align: center;
				top: 3px;
				right: 10px;
				line-height: 18px;
				z-index: 2;
			}
		}
	}
}
.institute-direction-status {
	color: #32bea6;
    font-family: 'Rubik-Medium';
    margin-bottom: 10px;
}
.institute-direction-description {
    font-size: 13px;
    float: left;
    width: 55%;
    color: #939393;
    margin-top: -2px;
    margin-bottom: -10px;
    
    a {
    	color: #939393;
    }

	strong {
    	color: #4e4e4e;
	}
}
.institute-direction-photo {
    max-width: 45%;
    float: left;
    padding-right: 15px;
}

.photo-institute-list {
	padding: 0px;
    list-style: none;
	margin: 0px -15px;
	width: calc(100% + 30px);

	li {
	    width: 270px;
	    height: 159px;
	    padding: 15px;
	    display: inline-block;
	    float: left;

	    &.addItem {
	    	span {
	    		border-style: dashed;
	    		text-align: center;
				color: #bababa;
				font-size: 13px;
				font-family: 'Rubik-Regular';
				border-color: #bababa;

		    	&:hover {
		    		border-color: #c0c0c0;
		    	}

	    		input {
	    			opacity: 0;
	    			position: absolute;
	    			top: 0;
	    			bottom: 0;
	    			left: 0;
	    			right: 0;
	    			cursor: pointer;
	    		}

	    		i {
					font-size: 38px;
					color: #c0c0c0;
					margin: 15px;
					margin-top: 18px;
					display: inline-block;
	    		}
	    	}
	    }

	    span {
	    	width: 240px;
	    	height: 129px;
	    	display: block;
	    	position: relative;
	    	border: 1px solid #e8e8e8;
	    	cursor: pointer !important;
	    	overflow: hidden;

	    	&:hover {
	    		a.remove {
	    			display: block;
	    		}
	    	}

	    }
    	
    	.loading {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1 !important;
			background: rgba(0, 0, 0, 0.61);
			height: 100%;
			padding-top: 13px;
		}

	    a.remove {
	    	position: absolute;
	    	top: 10px;
	    	right: 10px;
	    	font-size: 11px;
			width: 19px;
			height: 19px;
			background: rgba(255, 255, 255, 0.55);
			text-align: center;
			font-size: 14px;
			line-height: 17px;
			color: black;
			cursor: pointer;
			display: none;

			&:hover {
			background: rgba(255, 255, 255, 0.85);
			}
	    }

	    img {
	    	max-width: 100%;
	    }
	}
}