header {
	position: relative;
	/* Лента записей (header)*/
	ul.nav.navbar-nav.event-ribbon {
		letter-spacing: -0.3px;
		text-align: right;
		margin-right: 15px;
		height: 48px;
		    
		li {
		    width: 100%;
		    	    
		    a {
			    padding: 14px 0px 17px 0px;
			     
		    	> span {
					border-bottom: 1px solid transparent;
					height: 17px;
					display: inline-block;	
				    position: relative;
				    
			    	.count {
			    		position: absolute;
						width: 19px;
						height: 18px;
						border-radius: 50%;
						background: #e04f5f;
						color: #ffffff;
						font-size: 10px;
						text-align: center;
						top: -9px;
						right: -17px;
						line-height: 20px;
						z-index: 2;
			    	}
			    }

				&:hover {
					> span {
						border-color: $link-border-bottom-color;
					}
				}
		    }
		}
	}
	.navbar-nav.header-menu {
		padding: 0 15px;

		> li > a {
	      padding: 14px 20px;
	      letter-spacing: -0.4px;
	      
	      &:hover {
	      	color: #ffffff;
	      	background: $default-color-bg-menu;
			margin: -1px 0;
			padding: 15px 20px;
	      }
	    }
	    li.dropdown.open {
	    	> a {
	    		color: #ffffff;
		      	background: $default-color-bg-menu;
				margin: -1px 0;
				padding: 15px 20px;
	    	}

	    	ul.dropdown-menu {
	    		min-width: auto;
				padding: 10px 0px 0px 0px;
				width: 100%;
				border-radius: 0px;
				border: none;
				background: $brand-primary;
				
				>li > a {
					color: #ffffff;
					padding: 2px 0px 0px 20px;
					font-size: 13px;
					
					> span {
						border-bottom: 1px solid transparent;
					}
					
					&:hover {
						background: transparent;
						
						> span {
							border-color: $link-border-bottom-color;
						}
					}
				}

				>li:last-child {
					padding-bottom: 11px;
				}

				> li.all-records {
					padding-top: 11px;
					padding-bottom: 0px;
					
					> a {
						background: $brand-primary url(../../images/bg/backround-all-link-heander-menu.png);
						background-size: cover;
						color: #c1eef7;
						font-family: 'Rubik-LightItalic';
						padding: 5px 0px 8px 21px;
						font-size: 12px;
						
						> span {
							border-bottom: 1px dotted $link-border-bottom-color;
						}

						&:hover {
							> span {
								// border-color: transparent;
								color: #ffffff;
							}
						}
					}

				}
	    	}
	    }
	}
	.navbar-nav.navbar-right.user-block {
		width: 235px;
		height: 48px;

		/* AUTH BUTTONS */
		span.auth-buttons {
			margin-right: 0px;
			font-size: 12px;
			padding: 14px 0px 17px 15px;
			display: inline-block;
			letter-spacing: -0.1px;
			width: 235px;

		   	>span {
			    margin: 0 3px;
			    color: #bababa;
			}

			> a {
				color: #939393;
				
				> span {
					border-bottom: 1px solid rgba(186, 186, 186, 0.42);
				}

				&:hover {
					> span {
						border-color: transparent;
					}
				}
			}
		}
		.profile {
			padding: 10px 0px 8px 15px;
			display: inline-block;
			width: 100%;
			
			.user-wrapp {
				.user-icon, .user-nick-name {
					display: inline-block;
					float: left;
				}

				.user-icon {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					overflow: hidden;
					position: relative;
					margin-right: 4px;
					
					img {
						position: absolute;
						left: -50%;
						right: -50%;
						margin: auto;
						width: 100%;
						height: auto;
						max-width: 100%;
					}
				}
				.user-nick-name {
				    margin-left: 5px;
				    font-size: 12px;
				    padding-top: 6px;
				    margin-right: 23px;
				    
				    a > span {
				    	border-bottom: 1px solid transparent;
				    }

				    a:hover {
				    	color: $link-color;
				    	
				    	> span {
				    		border-color: $link-border-bottom-color;
				    	}
				    }
				}
			}

			.profile-action-buttons {
				margin-top: 4px;
				
				a {
					display: inline-block;
					float: left;
					background: url(../../images/icons/profile-header-sprite.png) no-repeat;
					margin: 0px 6px;
				}

				.events {
					width: 13px;
					height: 13px;
				    background-position: 0px -4px;
				    margin-top: 4px;
				    
				    &:hover {
					    background-position: 0px -21px;
				    }
				}
				.events.new {
					width: 15px;
					height: 18px;
				    margin-top: 0px;
					background-position: -14px 0px;
					
					&:hover {
						background-position: -13px -17px;
				    }
				}
				.settings {
					width: 15px;
					height: 15px;
				    background-position: right top;
				    margin-top: 3px;
				    
				    &:hover {
				    	background-position: right bottom;
				    }
				}

			}

		}
	}

	.search-section.nav.navbar-nav.navbar-right.header-section-search {
   		padding: 0 15px;
		
		.header-button-search {
			border: none;
			outline: none;
			width: 13px;
			height: 13px;
			background: url(../../images/icons/search-icon.png) no-repeat center top;
			margin-top: 17px;
			
			&:hover {
				background-position: center bottom;
			}
		}

		.searsh-wrapper {
			display: none;
			position: absolute;
			top: 0;
			bottom: 0;
			height: 100%;
			background: #fdfdfd;
			border-left: 1px solid $input-border;
			border-right: 1px solid $input-border;
			
			.input-group {
				height: 100%;
				
				input#search {
					height: 100%;
					outline: none;
					border: none;
					box-shadow: none !important;
					background: #fdfdfd;
					font-size: 13px;
				}

				.input-group-btn {
					button.btn.close-serch {
						background: #ffffff;
						border: none;
						border-radius: 0px;
						border-left: transparent;
						margin-left: -5px;
						outline: none;
						color: #9c9c9c;
						
						&:hover {
							color: $default-color;
						}
					}
				}
			}

		}
	}
}