// CONTACTS SECTION INSTITUTE 
.institute-contacts-section
	.contacts-all
		.contacts-tel
			p.title Телефоны
			a(href="tel:8 (495) 556-40-32", target="_blank") 8 (495) 556-40-32
			a(href="tel:8 (495) 556-40-38", target="_blank") 8 (495) 556-40-38
		.contacts-mail
			p.title Электронная почта
			a(href="mailto:info@tsagi.ru", target="_blank") info@tsagi.ru
		.contacts-time
			p.title Режим работы
			p Пн-Пт с 9:00 до 20:00
			p Сб-Вс выходной
	.banner-institute
		img(src="images/test-content/banner-institute.jpg", alt="")
	.clearfix
// * CONTACTS SECTION INSTITUTE END * 