// MENU TABS INSTITUTE 
.institute-menu-tabs
	ul.list-inline
		li
			a(href="#") Об институте
		li.active
			span Блог
			.count 15
		li
			a(href="#") Готовые технологии
			.count 2
		li
			a(href="#") Сотрудники
		li
			a(href="#") Литература
		li
			a(href="#") Словарь

// *MENU TABS INSTITUTE END* 