// Tender_section 
section
	.new-post-top-section.wrap
		h2.title(data-toggle="collapse", data-target="#collapse_2", aria-expanded="true", aria-controls="collapseExample") Тип публикации: 
			span Тендер
			.slide-top.pull-right
				a.toggle-slide
					i.fa.fa-angle-up
		.slide-hide-wrapper#collapse_2.collapse.in
			.row
				.col-md-6
					h4.inputs-title Основные параметры

					.input-group.gray-label.left.right
						span.input-group-addon.left Начало
						input.form-control.datetimepicker-1(type="text", placeholder="1 января 2017", data-js-init="datetimepicker", datetimepicker-local="ru", datetimepicker-format="yyyy M dd в hh:ii", value="2017-03-04 14:00")
						span.input-group-addon.right
							a.line-link(onclick="datetimepicker.show('.datetimepicker-1')")
								span Изменить
					
					.input-group.gray-label.left.right
						span.input-group-addon.left Окончание
						input.form-control.datetimepicker-2(type="text", placeholder="1 января 2017", data-js-init="datetimepicker", datetimepicker-local="ru", datetimepicker-format="yyyy M dd в hh:ii")
						span.input-group-addon.right
							a.line-link(onclick="datetimepicker.show('.datetimepicker-2')")
								span Изменить
					.row
						.col-md-8
							.input-group
								input.form-control(type="text", placeholder="Стоимость")
						.col-md-4(style="padding-left: 5px;")
							.input-group.select-parent
								select.selectpicker.form-control(title="", name="")
									option(value="grn", selected) Грн
									option(value="dollar") $
				.col-md-6
					h4.inputs-title Патенты
					
					.patents-wrap
						.input-group
							input.form-control(type="text", placeholder="Укажите патент", name="patent-1")
					.new-select-btn
						a.add-block.link-gray(data-action-click="addPostPagePatent", data-placeholder="Укажите патент")
							span.icon-add-block
							|Добавить новый патент
				.clearfix
// *Tender_section end* 