// TOP_section 
section
	.new-post-top-section.wrap
		h2.title Новая публикация
		.input-group
			input.title-input.form-control(type="text", name="title" placeholder="Название публикации")
		.input-group
			textarea.form-control.text-reader(name="text", cols="30", rows="10", placeholder="Текст")
		.input-group.tags-input#tags-input
			input.form-control(type="text", name="tags" placeholder="Теги", data-role="tagsinput")
// *TOP_section end* 

