// Section post
.post-wrapper
	.post
		// post-header
		.row.post-header
			.post-time-published.col-md-10 
				span.gray-mini-description Сегодня, 29 апреля 2017 в 18:30
			.post-menu.col-md-2.pull-right
				.more-wrapper
					button.clear.more.pull-right.dropdown-toggle(data-toggle="dropdown")
					.clearfix
					ul.dropdown-menu.white.pull-right
						li
							span.line
								a(href="#") Редактировать
						li
							span.line
								a.red(href="#") Удалить
			.post-title.col-md-12
				// Class .active for Status display "added"
				a.icon-favorite.active(data-toggle="tooltip", data-original-title="Добавить в избранное", data-replace-text="Убрать из избранного", onclick='')
				a(href="#")
					h1 Окраска ящериц оказалась клеточным автоматом фон Неймана
						span.post-label Статья
			.post-authtor.col-md-12
				span.gray-mini-description Опубликовал
				span.post-authtor-photo
					a(href="#")
						img(src="images/test-content/profile-photo.png", alt="user-name")
				span.post-authtor-name
					a.line-link(href="#")
						span Малахов В.О.
		// post body
		.row.post-body
			.post-banner.col-md-12
				img(src="images/test-content/post_banner_1.jpg", alt="")
			.col-md-12
				.post-text
					p
						|Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных 
						a(href="#") процессов к дискретным
						|. Узор молодых глазчатых ящериц описывается системой уравнений Тьюринга, в то время как лабиринтообразная окраска взрослых особей строится по принципу дискретной модели клеточного автомата фон Неймана — чешуйки меняют цвет в зависимости от их окружения. Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных процессов к дискретным. Узор молодых глазчатых ящериц описывается системой уравнений Тьюринга, в то время как лабиринтообразная окраска взрослых особей строится по принципу дискретной модели клеточного автомата фон Неймана — чешуйки меняют цвет в зависимости от их окружения. Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных процессов к дискретным. Узор молодых глазчатых ящериц описывается системой уравнений Тьюринга, в то время как лабиринтообразная окраска взрослых особей строится по принципу дискретной модели клеточного автомата фон Неймана — чешуйки меняют цвет в зависимости от их окружения.
					h2 Узор молодых глазчатых ящериц
					p
						|Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных 
						a(href="#") 
							span процессов к дискретным
					ul
						li Черные с красными крапинками
						li В полосочку с белыми крапинками
						li Красивые с фиолетовыми полосками
						li Матовые с вензелями
						li Пурпурные с кораловыми солнышками
					ol
						li Черные с красными крапинками
						li В полосочку с белыми крапинками
						li Красивые с фиолетовыми полосками
						li Матовые с вензелями
						li Пурпурные с кораловыми солнышками
					h4 Первый принцип модели клеточного автомата фон Неймана
					p.
						Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных процессов к дискретным. Узор молодых глазчатых ящериц описывается системой уравнений Тьюринга, в то время как лабиринтообразная окраска взрослых особей строится по принципу дискретной модели клеточного автомата фон Неймана — чешуйки меняют цвет в зависимости от их окружения. Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных процессов к дискретным.
					h4 Второй принцип модели клеточного автомата фон Неймана
					p.
						Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных процессов к дискретным. Узор молодых глазчатых ящериц описывается системой уравнений Тьюринга, в то время как лабиринтообразная окраска взрослых особей строится по принципу дискретной модели клеточного автомата фон Неймана — чешуйки меняют цвет в зависимости от их окружения.
					img(src="images/test-content/p_1.jpg", alt="")
					img(src="images/test-content/p_2.jpg", alt="")
					img(src="images/test-content/p_3.jpg", alt="")
					h4 Третий принцип модели клеточного автомата фон Неймана
					p.
						Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных процессов к дискретным. Узор молодых глазчатых ящериц описывается системой уравнений Тьюринга, в то время как лабиринтообразная окраска взрослых особей строится по принципу дискретной модели клеточного автомата фон Неймана — чешуйки меняют цвет в зависимости от их окружения.
					h3 Результат исследования
					p.
						Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных процессов к дискретным. Узор молодых глазчатых ящериц описывается системой уравнений Тьюринга, в то время как лабиринтообразная окраска взрослых особей строится по принципу дискретной модели клеточного автомата фон Неймана — чешуйки меняют цвет в зависимости от их окружения. Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных процессов к дискретным. Узор молодых глазчатых ящериц описывается системой уравнений Тьюринга, в то время как лабиринтообразная окраска взрослых особей строится по принципу дискретной модели клеточного автомата фон Неймана — чешуйки меняют цвет в зависимости от их окружения. Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных процессов к дискретным. Узор молодых глазчатых ящериц описывается системой уравнений Тьюринга, в то время как лабиринтообразная окраска взрослых особей строится по принципу дискретной модели клеточного автомата фон Неймана — чешуйки меняют цвет в зависимости от их окружения. Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных процессов к дискретным. Узор молодых глазчатых ящериц описывается системой уравнений Тьюринга, в то время как лабиринтообразная окраска взрослых особей строится по принципу дискретной модели клеточного автомата фон Неймана — чешуйки меняют цвет в зависимости от их окружения. Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных процессов к дискретным. Узор молодых глазчатых ящериц описывается системой уравнений Тьюринга, в то время как лабиринтообразная окраска взрослых особей строится по принципу дискретной модели клеточного автомата фон Неймана — чешуйки меняют цвет в зависимости от их окружения. Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных процессов к дискретным. Узор молодых глазчатых ящериц описывается системой уравнений Тьюринга, в то время как лабиринтообразная окраска взрослых особей строится по принципу дискретной модели клеточного автомата фон Неймана — чешуйки меняют цвет в зависимости от их окружения.
		.row.post-footer
			.col-md-6
				.share-social
					a.social-button.vkontakte(onclick="Share.vkontakte()")
						.icon-button
							i.fa.fa-vk(aria-hidden="true")
						.counter 1.3k
					a.social-button.facebook(onclick="Share.facebook()")
						.icon-button
							i.fa.fa-facebook(aria-hidden="true")
						.counter 450
					a.social-button.odnoklassniki(onclick="Share.odnoklassniki()")
						.icon-button
							i.fa.fa-odnoklassniki(aria-hidden="true")
						.counter 15
			.col-md-6
				.wrapper-statistic.pull-right
					span
						i.icon-view
						|12k
					span
						i.icon-comment
						|45
			.col-md-12
				.hubs
					span.line-title Наука
					a.line-link(href="#")
						span Химия
					span ,
					a.line-link(href="#")
						span Биология
					span ,
					a.line-link(href="#")
						span Химия
					span ,
					a.line-link(href="#")
						span Математика
				.hubs
					span.line-title Тема публикации
					a.line-link(href="#")
						span Биологические особенности ящериц и других видов животных
				.tags
					a.line-link
						span #publication
					a.line-link
						span #nationalgeographic
					a.line-link
						span #окрасящерицы
					a.line-link
						span #фоннейман
// *PUBLICATIONS WRAPPER END*