// MENU TABS user 
.users-menu-tabs
	ul.list-inline
		li.active
			span Перонализация
		li
			a(href="#") Аватар и обложка
		li
			a(href="#") Подписки
		li
			a(href="#") Настройка уведомлений
// *MENU TABS user END* 