section {
	.item-wrapp {
		float: left;
		width: 51px;
		height: 51px;
		overflow: hidden;
		margin-right: 15px;
		text-align: center;
		img {
			width: 100%;
		}
	}
	.item-content {
		float: left;
		width: 185px;
		
		.item-title {
			font-family: 'Rubik-Medium';
			font-size: 15px;
			color: #4e4e4e;
			position: relative;
			overflow: hidden;
			
			a {
				color: #4e4e4e;
			}
			&:hover {
				text-decoration: underline;
			}
		}
		.event-date {
			color: $brand-success;
			font-family: 'Rubik-Medium';
			margin-bottom: 10px;
		}
		.event-title{
			font-family: 'Rubik-Regular';
			font-size: 14px;	
			a {
				color: #4e4e4e;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.events-calendar {
		margin-top: 30px;
		margin-left: -30px;
		margin-right: -20px;
		margin-bottom: -35px;
	}
	.events-more {
		margin-top: 30px;
		display: block;
	}
}