.filters-group {
	padding-top: 45px;
	padding-bottom: 30px;

	.filter-section {
		padding-top: 15px;
		display: inline-block;
		float: left;
		margin-right: 10px;
	}
	.filter-section#types {
		margin-right: 0px;
	}
	.link-group {
	    display: inline-block;
	    float: left;
	    padding-top: 27px;
	    margin-right: 10px;
	    
	    i {
	    	color: #cacaca;
	    }
	}

}
.margin-group-select {
	.bootstrap-select {
		.dropdown-menu {
			li a span.text {
				width: calc(100% - 23px);
				text-overflow: ellipsis;
				overflow: hidden;
				float: right;
			}
		}
	}
}
.bootstrap-select {
	div.dropdown-menu {
		max-height: 150px !important;
	}
	.dropdown-menu.inner {
		display: block;
		position: relative !important;
	}
	.dropdown-menu > .active > a {
		background: transparent;
	}
}
.open > .btn-default.dropdown-toggle{
	&:focus {
		background: $default-color;
	}
}
.margin-group-select {
	margin-left: 23px;
}

// .select-parent#types {
// 	.dropdown-menu {
// 		li[data-original-index="0"] {
// 			display: none;
// 		}
// 	}
// }

.filres-literature-wrapper {
	margin-top: 15px;
	
	.input-group {
		width: 100%;
		margin: 0px;
	}

	.no-padding {
		padding: 0px;
	}
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option {
	height: 14px;
    margin-top: -2px;
    padding-top: 2px;
}



.dropdown-header span.text {
    color: rgba(255, 255, 255, 0.75);
    font-weight: normal;
    font-family: "Rubik-Light";
}
a.opt.all_list .glyphicon.glyphicon-ok.check-mark {
	display: none !important;
}
.bootstrap-select.btn-group .dropdown-menu li a.opt {
	padding-left: 20px;
}