html(lang='ru')
	include include/common/head
	include include/common/header-logged
	
	form.container.add-new-post(data-js-init="addPostPage", action="/ajax/post/edit/6")
		.left-column
			include include/posts/new_post_top_section
			include include/posts/add_new_post_settings
			include include/posts/add_new_post_tender
			include include/posts/add_new_post_article
			include include/posts/add_new_post_technologies
			include include/posts/add_new_post_conference
		.right-column
			button.btn.btn-default.addpost(type="button") Опубликовать запись

			.desript_add-post
				h4 Правила публикации
				p.
					Швейцарские ученые в сотрудничестве с исследователями из СПбГУ и Сколково обнаружили в природе редкий пример перехода от непрерывных процессов к дискретным. Узор молодых глазчатых ящериц описывается системой уравнений Тьюринга, в то время как лабиринтообразная окраска взрослых особей строится по принципу дискретной модели клеточного автомата фон Неймана — чешуйки меняют цвет в зависимости от их окружения.

	include include/common/footer

	include include/common/buttom-scripts