html(lang='ru')
	include include/common/head
	include include/common/header-logged

	.container.users
		//- Хлебные крошки
		include include/common/breadcrumbs
		-var links = ['Главная', 'Участники', 'Институты'];
		+breadcrumbs(links)
		//- Хлебные крошки (конец)
		.clearfix

		h3.title-page Институты

		// Litearture WRAPPER
		.publications-wrapper.clearfix

			.left-column
				//- TABS
				include include/common/menu-tabs
				-var links = ['Все институты', 'Новые'];
				-var active = 'Все институты';
				+menuTabs(links, active)
				//- TABS END
				
				include include/companies/companies-list-wrapper
			.right-column
				.widgets-panel

	include include/common/footer
	include include/common/buttom-scripts