html(lang='ru')
	include include/common/head
	include include/common/header

	include include/modals/auth
	include include/modals/pass-recovery
	include include/modals/registration
	include include/modals/registration-succsses
	include include/common/buttom-scripts