html(lang='ru')
	include include/common/head
	include include/common/header-logged
	include include/home/full-slider
	
	.container
		.left-column
			include include/home/filters
			include include/home/publications-wrapper
		.right-column
			.widgets-panel
				include include/home/news-section
				include include/home/events-widget
				include include/home/news-single-widget
				include include/home/news-single-widget

	include include/common/footer

	include include/common/buttom-scripts