html(lang='ru')
	include include/common/head
	include include/common/header-logged
	include include/home/full-slider
	
	.container
		.left-column
			include include/home/filters
			include include/home/publications-wrapper
		.right-column

	include include/common/footer

	include include/common/buttom-scripts