html(lang='ru')
	include include/common/head
	include include/common/header
	include include/home/full-slider
	
	.container.main
		include include/home/filters
		.left-column
			include include/home/publications-wrapper
		.right-column
			.widgets-panel
				include include/widget/news-widget
				include include/widget/events-widget
				include include/widget/news-single-widget
				include include/widget/news-single-widget

	include include/common/footer
	

	include include/modals/auth
	include include/modals/pass-recovery
	include include/modals/registration
	include include/modals/registration-succsses
	include include/common/buttom-scripts