html(lang='ru')
	include include/common/head
	include include/common/header-logged

	.container.users
		//- Хлебные крошки
		include include/common/breadcrumbs
		-var links = ['Главная', 'База знаний', 'Литература'];
		+breadcrumbs(links)
		//- Хлебные крошки (конец)
		.clearfix

		h3.title-page Литература

		// Litearture WRAPPER
		.publications-wrapper.clearfix

			.left-column
				//- TABS
				include include/common/menu-tabs
				-var links = ['Научные труды', 'Авторы'];
				-var active = 'Научные труды';
				+menuTabs(links, active)
				//- TABS END
				.literature-wrapper
					include include/literature/letter-filter
					include include/literature/filters-literature
					
					include include/literature/literature-list-wrapper
			.right-column
				.widgets-panel

	include include/common/footer
	include include/common/buttom-scripts