html(lang='ru')
	include include/common/head
	include include/common/header-logged

	.container.profile-edit

		h3.title-page Настройки профиля

		// USER WRAPPER
		.publications-wrapper.clearfix

			.left-column
				//- TABS
				include include/common/menu-tabs
				-var links = ['Личные данные', 'Аватар и обложка', 'Подписки', 'Настройка уведомлений'];
				-var active = 'Подписки';
				+menuTabs(links, active)
				//- TABS END
				include include/user/user-sub
			.right-column
				.widgets-panel

	include include/common/footer
	include include/common/buttom-scripts