.input-group.select-parent.new-select-science
	select.selectpicker.form-control(title="Выберите науку", name="")
		option(value="physics") Физика
		option(value="mathematics")  Математика
		option(value="chemistry")  Химия
		option(value="biology")  Биология
		option(value="history")  История
		option(value="astronomy")  Астрономия
		option(value="geography")  География
		option(value="geology")  Геология
		option(value="botany")  Ботаника
.input-group.select-parent.new-select-science-theme
	select.selectpicker.form-control(data-live-search="true", title="Направление", name="", multiple, data-max-options="2", disabled )
