html(lang='ru')
	include include/common/head
	include include/common/header-logged

	.container.profile-edit


		.publications-wrapper.clearfix
						
			.left-column
				.tapeEntriesEmpty.text-center
					.title-page Ваша лента записей пока пуста
					.gray-mini-description
						|Подпишитесь на обновления ученых, институтов или групп,
						br
						|чтобы первым получать новости
					a.line-link
						span Публикации портала
			.right-column
				.widgets-panel

	include include/common/footer
	include include/common/buttom-scripts