html(lang='ru')
	include include/common/head

	.container.users

		// USERS WRAPPER
		.publications-wrapper.clearfix

			.left-column
				include include/users/users-list-wrapper-institute
			.right-column
				.widgets-panel

	include include/common/footer
	include include/common/buttom-scripts