html(lang='ru')
	include include/common/head
	include include/common/header-logged

	.container.users
		//- Хлебные крошки
		include include/common/breadcrumbs
		-var links = ['Главная', 'Участники', 'Ученые'];
		+breadcrumbs(links)
		//- Хлебные крошки (конец)
		.clearfix

		h3.title-page Ученые

		// USERS WRAPPER
		.publications-wrapper.clearfix

			.left-column
				include include/users/users-menu-tabs
				include include/users/users-list-wrapper
			.right-column
				.widgets-panel
					include include/widget/users-Statistic

	include include/common/footer
	include include/common/buttom-scripts