// Events Widget
section.events-widget
	h2 Ближайшие события
	// Item
	.item.clearfix
		.item-wrapp
			img(src="images/test-content/event_1.jpg", alt="")
		.item-content
			.event-date 30 апреля 2017
			.event-title
				a(href="#") Х Международная Киевская конференция
	// Item
	.item.clearfix
		.item-wrapp
			img(src="images/test-content/event_1.jpg", alt="")
		.item-content
			.event-date 30 апреля 2017
			.event-title
				a(href="#") Х Международная Киевская конференция
	// Item
	.item.clearfix
		.item-wrapp
			img(src="images/test-content/event_1.jpg", alt="")
		.item-content
			.event-date 30 апреля 2017
			.event-title
				a(href="#") Х Международная Киевская конференция
	// MORE
	a.events-more.line-link(href="#")
		span Все события
	#events-calendar.events-calendar
.clearfix
// *Events Widget END*