// Institute contacts Widget
section.contacts-widget
	.widget-title Контакты института
	.contacts-tel
		i.fa.fa-phone
		a(href="tel:8 (495) 556-40-32", target="_blank") 8 (495) 556-40-32
		a(href="tel:8 (495) 556-40-38", target="_blank") 8 (495) 556-40-38
	.contacts-mail
		i.fa.fa-paper-plane
		a(href="mailto:info@tsagi.ru", target="_blank") info@tsagi.ru
	.contacts-time
		i.clock
		p Пн-Пт с 9:00 до 20:00
		p Сб-Вс выходной

.clearfix
// *Institute contacts Widget END*