// PHOTO REPOT WIDGET
section.widget
	.widget-title Новые книги
	.widget-content
		a(href="#").widget-image
			img(src="images/test-content/newBook.jpg", alt="")
		a(href="#").widget-description.
			Восстановление высших психических функций
		// MORE
		a.widget-more.line-link(href="#")
			span Вся литература института
.clearfix
// *PHOTO REPOT WIDGET END*