// SINGLE NEWS (WIDGET)
section.news-single
	.news-banner
		img(src="images/test-content/news_1.jpg", alt="")
	.news-content
		.news-title НОВАЯ ТЕХНОЛОГИЯ 
		a(href="#").news-description.
			Международная группа ученых обнаружила в океане вблизи Филиппин гигантского двустворчатого моллюска
.clearfix
// *SINGLE NEWS (WIDGET) END*