// PHOTO REPOT WIDGET
section.widget
	.widget-title Фоторепортажи
	.widget-content
		a(href="#").widget-image
			img(src="images/test-content/photoRep.jpg", alt="")
		a(href="#").widget-description.
			Семинар ЦАГИ–DLR: новый виток перспективного сотрудничества
		// MORE
		a.widget-more.line-link(href="#")
			span Все фоторепортажи
.clearfix
// *PHOTO REPOT WIDGET END*