// Statictic user wrapper
section.statistic
	.widget-title Статистика
	.widget-content
		p
			span.name Всего пользователей
			span.value 900 000
		p
			span.name Мужчин
			span.value 500 000
		p
			span.name Женщин
			span.value 400 000
		.clearfix

// *Statictic user wrapper end*