// /+++++++++++++++++++++ SCRIPTS +++++++++++++++++++++/
script(src='js/_lib/Moment.min.js')
script(src='js/_lib/bootstrap-datetimepicker.min.js')
script(src='js/_lib/locales/bootstrap-datetimepicker.ua.js')
script(src='js/_lib/locales/bootstrap-datetimepicker.ru.js')
// SCRIPT ICHECK 
script(src='js/_lib/icheck.min.js')
//Bootstrap js include
script(src='js/_lib/bootstrap.min.js')
//Bootstrap select js
script(src='js/_lib/bootstrap-select.js')
//MouseWheel js
script(src='js/_lib/jquery.mousewheel.min.js')
//Scroll pane js
script(src='js/_lib/jquery.jscrollpane.min.js')
//Calendar js for events date
script(src='js/_lib/zabuto_calendar.min.js')
//tinymce.min.js
script(src='js/_lib/tinymce/tinymce.min.js')
//bootstrap-tagsinput.min.js
script(src='js/_lib/bootstrap-tagsinput.min.js')
// Social share
script(src='js/social-share.js')
//Control ELEMENTS js
script(src='js/actions.js')
script(src='js/plugin.js')
script(src='js/app.js')
script(asyncб, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk9ybSWVLpaUvAqYhS1282Y6NLZVz4J9Q")
// /++++++++++++++++++* SCRIPTS END *++++++++++++++++++++/