// /+++++++++++++++++++++ SCRIPTS +++++++++++++++++++++/
// SCRIPT ICHECK 
script(src='js/_lib/icheck.min.js')
//Bootstrap js include
script(src='js/_lib/bootstrap.min.js')
//Bootstrap select js
script(src='js/_lib/bootstrap-select.js')
//MouseWheel js
script(src='js/_lib/jquery.mousewheel.min.js')
//Scroll pane js
script(src='js/_lib/jquery.jscrollpane.min.js')
//Calendar js for events date
script(src='js/_lib/zabuto_calendar.min.js')
// Social share
script(src='js/social-share.js')
//Control FILTERS js
script(src='js/filters.js')
//Control ELEMENTS js
script(src='js/control_elements.js')
// /++++++++++++++++++* SCRIPTS END *++++++++++++++++++++/