//- footer section
footer
	.container
		.row
			.col-md-9
				.row.line-menu
					.col-md-12
						ul.list-menu.list-unstyled
							li
								p.title-section Публикации
							li
								a.line-link(href="#") 
									span Новости
							li
								a.line-link(href="#") 
									span События
							li
								a.line-link(href="#") 
									span Статьи
							li
								a.line-link(href="#") 
									span Записи
						ul.list-menu.list-unstyled
							li
								p.title-section Участники
							li
								a.line-link(href="#") 
									span Институты
							li
								a.line-link(href="#") 
									span Компании
							li
								a.line-link(href="#") 
									span Ученые
						ul.list-menu.list-unstyled
							li
								p.title-section Коммерция
							li
								a.line-link(href="#") 
									span Технологии
							li
								a.line-link(href="#") 
									span Услуги
							li
								a.line-link(href="#") 
									span Тендеры
						ul.list-menu.list-unstyled
							li
								p.title-section База знаний
							li
								a.line-link(href="#") 
									span Литература
							li
								a.line-link(href="#") 
									span Словарь
							li
								a.line-link(href="#") 
									span Исследования
						ul.list-menu.list-unstyled
							li
								p.title-section Портал
							li
								a.line-link(href="#") 
									span О нас
							li
								a.line-link(href="#") 
									span Контакты
				.row
					p.col-md-12.copyright © 2012 -2017   Институт  импульсных  процессов  и  технологий  НАН  Украины. Все права защищены.
			.col-md-3
				.green-bg.pull-right
					ul.list-unstyled.list-inline.language-buttons
						li.active
							a Ru
						li
							a(href="#") Eng
						li
							a(href="#") Deu
						li
							a.dot ...
					p.description По возникшим вопросам
						br
						|в работе портала обращайтесь
						br
						|в службу поддержки
					
					ul.list-unstyled.contacts
						li
							a.active(href="tel:0446788078", target="_blank") (044) 678-80-78
						li
							a(href="tel:0961205645", target="_blank") (096) 120-56-45
						li
							a(href="mailto:info@gmail.com", target="_blank") info@gmail.com

//- *footer section end* 