head
	// /+++++++++++++++++++++ META +++++++++++++++++++++/
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(http-equiv='language', content='RU')
	//- meta(name='viewport', content='width=device-width, initial-scale=1')
	// For Social Share
	// post link
	meta(property="og:url", content="http://science.mysweetheart.link/post")
	// post title
	meta(property="og:title", content="Институт информационніх технологий им. А. Васильковского")
	// post image
	meta(property="og:image", content="http://science.mysweetheart.link/themes/default/images/test-content/news_1.jpg")
	// post description
	meta(property="og:description", content="Test description")

	title Science

	// /+++++++++++++++++++++ STYLES +++++++++++++++++++++/
	//bootstrap-select.min.css
	link(rel='stylesheet', href='styles/css/_lib/bootstrap-select.min.css')
	//font-awesome css
	link(rel='stylesheet', href='styles/css/_lib/font-awesome.min.css')
	//ui css
	link(rel='stylesheet', href='styles/css/_lib/jquery-ui.css')
	//bootstrap-tagsinput.css
	link(rel='stylesheet', href='styles/css/_lib/bootstrap-tagsinput.css')
	//bootstrap-datetimepicker.min.css
	link(rel='stylesheet', href='styles/css/_lib/bootstrap-datetimepicker.min.css')
	//default styles
	link(rel='stylesheet', href='styles/css/science.css')
	// /++++++++++++++++++* STYLES END *++++++++++++++++++/

	// /+++++++++++++++++++++ SCRIPT Jquery +++++++++++++++++++++/
	script(src='js/_lib/jquery-3.1.1.min.js')
	script(src='js/_lib/jquery-ui.min.js')
	// /++++++++++++++++++* SCRIPT Jquery END *++++++++++++++++++/