head
	// /+++++++++++++++++++++ META +++++++++++++++++++++/
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(http-equiv='language', content='RU')
	//- meta(name='viewport', content='width=device-width, initial-scale=1')

	title Science

	// /+++++++++++++++++++++ STYLES +++++++++++++++++++++/
	//bootstrap-select.min.css
	link(rel='stylesheet', href='styles/css/_lib/bootstrap-select.min.css')
	//font-awesome css
	link(rel='stylesheet', href='styles/css/_lib/font-awesome.min.css')
	link(rel='stylesheet', href='styles/css/_lib/jquery-ui.css')
	//default styles
	link(rel='stylesheet', href='styles/css/science.css')
	// /++++++++++++++++++* STYLES END *++++++++++++++++++/

	// /+++++++++++++++++++++ SCRIPT Jquery +++++++++++++++++++++/
	script(src='js/_lib/jquery-3.1.1.min.js')
	script(src='js/_lib/jquery-ui.min.js')
	// /++++++++++++++++++* SCRIPT Jquery END *++++++++++++++++++/