// ************** HEADER ************** 
header
	nav.navbar.navbar-default.navbar-static-top
		.container
			.navbar-header
				a.navbar-brand(href="#")
					img(src="images/logo/logo_science.png")

			#navbar
				.nav.navbar-nav.navbar-right.user-block
					// PROFILE 
					.profile
						.user-wrapp
							.user-icon
								img(src="images/test-content/profile-photo.png", alt="user-name")
							.user-nick-name
								a(href="#") 
									span alexander999
						.profile-action-buttons
							a.dropdown-toggle.events(href="#", data-toggle="dropdown")
							ul.dropdown-menu
									li
										span
											a(href="#") 
												span Настройки профиля
									li
										span
											a.plus(href="#", data-toggle="tooltip", data-placement="left", title="Создать запись") +
											a(href="#") 
												span Мой блог
									li
										span
											a.plus(href="#", data-toggle="tooltip", data-placement="left", title="Tooltip on left") +
											a(href="#") 
												span Институт ИИПТ
									li
										span
											a(href="#") 
												span Личные сообщения
									li
										span
											a(href="#") 
												span Мое избранное
									li
										span
											a(href="#") 
												span Подписка ленты

							span.relative
								a.dropdown-toggle.settings(href="#", data-toggle="dropdown")
								ul.dropdown-menu
									li
										span
											a(href="#") 
												span Настройки профиля
									li
										span
											a.plus(href="#", data-toggle="tooltip", data-placement="left", title="Создать запись") +
											a(href="#") 
												span Мой блог
									li
										span
											a.plus(href="#", data-toggle="tooltip", data-placement="left", title="Tooltip on left") +
											a(href="#") 
												span Институт ИИПТ
									li
										span
											a(href="#") 
												span Личные сообщения
									li
										span
											a(href="#") 
												span Мое избранное
									li
										span
											a(href="#") 
												span Подписка ленты

				.search-section.nav.navbar-nav.navbar-right.header-section-search
					// SEARCH 
					button.header-button-search(type="button")
					.searsh-wrapper
						.input-group
							input#search.form-control(type="text", placeholder="Поиск...")
							.input-group-btn
								button.btn.close-serch(type="button") x
				// EVENT RIBBON 
				ul.nav.navbar-nav.navbar-right.header-menu
					// ITEM MENU 
					li.dropdown
						a.dropdown-toggle(href="#", data-toggle="dropdown") 
							span Публикации
							i.dropdown-arrow
						// SUB MENU 
						ul.dropdown-menu
							li
								a(href="#") 
									span Новости
							li
								a(href="#") 
									span События
							li
								a(href="#") 
									span Статьи
							li.all-records
								a(href="#") 
									span Все записи
					// ITEM MENU 
					li.dropdown
						a.dropdown-toggle(href="#", data-toggle="dropdown") 
							span Участники
							i.dropdown-arrow
						// SUB MENU 
						ul.dropdown-menu
							li
								a(href="#") 
									span Институты
							li
								a(href="#") 
									span Компании
							li
								a(href="#") 
									span Ученые
					// ITEM MENU 
					li.dropdown
						a.dropdown-toggle(href="#", data-toggle="dropdown") 
							span Коммерция
							i.dropdown-arrow
						// SUB MENU 
						ul.dropdown-menu
							li
								a(href="#") 
									span Технологии
							li
								a(href="#") 
									span Услуги
							li
								a(href="#") 
									span Тендеры
					// ITEM MENU 
					li.dropdown
						a.dropdown-toggle(href="#", data-toggle="dropdown") 
							span База знаний
							i.dropdown-arrow
						// SUB MENU 
						ul.dropdown-menu
							li
								a(href="#") 
									span Литература
							li
								a(href="#") 
									span Словарь
							li
								a(href="#") 
									span Исследования
							li.all-records
								a(href="#") 
									span Все записи
				ul.nav.navbar-nav.navbar-right.event-ribbon
					li
						a(href="#") 
							span Лента записей
								div.count 22
