// ************** registration_succsses MODAL **************
.modal.fade#modal-sm-reg-succsses(role="dialog")
	.modal-dialog.modal-sm(role="document")
		.modal-content
			form.auth-form(action="")
				h4.succsses Вы успешно зарегистрировались на нашем сайте
				.clearfix
				.input-group
					p.
						Теперь Вы можете войти в свой аккаунт
						и создать первую запись
				.input-group
					a.btn.btn-default Войти в личный кабинет
// *********** =registration_succsses MODAL END= *********** 