.list-wrapper
	.row
		.col-md-12
			.main-label A
			.item
				a(href="#").item-title Адгезия
				.item-text.
					Слипание разнородных твердых и жидких тел, соприкасающихся своими поверхностями, обусловленное   межмолекулярным взаимодействием.
	.row
		.col-md-12
			.item
				a(href="#").item-title Адроны
				.item-text.
					Общее наименование элементарных частиц, участвующих в силь­ных взаимодействиях.
	.row
		.col-md-12
			.main-label.gray aк
			.item
				a(href="#").item-title Аккумулятор
				.item-text.
					Общее наименование элементарных частиц, участвующих в силь­ных взаимодействиях. Общее наименование элементарных частиц, участвующих в силь­ных взаимодействиях. Общее наименование элементарных частиц, участвующих в силь­ных взаимодействиях.
	.row
		.col-md-12
			.item
				a(href="#").item-title Адгезия
				.item-text.
					Слипание разнородных твердых и жидких тел, соприкасающихся своими поверхностями, обусловленное   межмолекулярным взаимодействием. Слипание разнородных твердых и жидких тел, соприкасающихся своими поверхностями.